@tailwind base;
@tailwind components;
@tailwind utilities;
 
html,
body,
:root{
  height: 100%;
  background-color: black;
  color-scheme:dark ;
}
.menu-item-hover:hover {
  background: #ffffff47; /* Change this to the desired color on hover */
}